<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>SlapMyMac</string>
    <key>CFBundleDisplayName</key>
    <string>SlapMyMac</string>
    <key>CFBundleIdentifier</key>
    <string>com.slapmymac.app</string>
    <key>CFBundleVersion</key>
    <string>6</string>
    <key>CFBundleShortVersionString</key>
    <string>1.6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>SlapMyMac</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Based on spank by taigrr. MIT License.</string>
    <key>SUFeedURL</key>
    <string>https://github.com/neopheus/slapmymac/releases/download/appcast/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string></string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
</dict>
</plist>
